.flipbook-section {
  /* height: 500px; */
  /* position: relative; */
  height: 60vh;
  /* padding-top: 300p  x; */
}

/* BOOK */
.book {
  width: 600px;
  height: 380px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);

  opacity: 0;
  /* padding-top: 300px; */
  display: flex;
  z-index: 20;

  perspective: 1200px;
}

/* BASE PAGE */
.page {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* LEFT */
.page.left {
  width: 50%;
  background: #f5efe4;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  box-shadow: inset -3px 0 12px rgba(0,0,0,0.1);
}

/* RIGHT STATIC */
.page.right-base {
  width: 50%;
  left: 50%;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.15),
    inset 3px 0 12px rgba(0,0,0,0.05);
}

/* FLIPPING PAGE */
.page.right {
  width: 50%;
  left: 50%;
  top: 0;
  /* margin-top: 300px; */
  background: #fff;

  transform-origin: left center;
  transform: rotateY(0deg);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  box-shadow:
    0 20px 40px rgba(0,0,0,0.2),
    inset 3px 0 12px rgba(0,0,0,0.05);
}

/* TEXT */
.content {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

.page-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
}

.page-inner img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.page-inner p {
  font-size: 1rem;
  line-height: 1.4;
}

.page.left {
  background: #f3ede4; /* warm paper */
}

.page.right,
.page.right-base {
  background: #f7f2e8;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  opacity: 0.25;

  pointer-events: none;
}

.page.left::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;

  background: linear-gradient(
    to left,
    rgba(0,0,0,0.15),
    transparent
  );
}

.page.right-base::after,
.page.right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 100%;

  background: linear-gradient(
    to right,
    rgba(0,0,0,0.12),
    transparent
  );
}

.page.right {
  box-shadow:
    0 25px 60px rgba(0,0,0,0.25),
    inset 4px 0 15px rgba(0,0,0,0.08);
}

.book::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10%;
  width: 80%;
  height: 20px;

  background: radial-gradient(
    ellipse,
    rgba(0,0,0,0.25),
    transparent
  );

  filter: blur(10px);
}