.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.2rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: radial-gradient(circle at top, #ffffff, antiquewhite );; */
  /* background-color: antiquewhite;   */
  background-color: #FAEBD7; /* Fallback */
/* background-image: linear-gradient(to center, #FFFFFF, #FAEBD7); */

  z-index: 100;
}

.logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.8rem;
}

.nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #1a1a1a;
}

.cta {
  background: #1f7a63;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  cursor: pointer;
}